
.slide-enter-active,
.slide-leave-active {
  transition-duration: .25s;
  transition-timing-function: ease;
}

.slide-enter-to, .slide-leave-from {
  max-height: 100vh;
  overflow: hidden;
}

.slide-enter-from, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
